<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.security.app-sandbox</key>
    <true/>
    <key>com.apple.security.network.client</key>
    <true/>
    <key>com.apple.security.temporary-exception.shared-preference.read-only</key>
    <array>
        <string>com.sydpolk.photogoround.dev</string>
        <string>com.sydpolk.photogoround</string>
        <string>com.sydpolk.photogoround.wallpaper.dev</string>
        <string>com.sydpolk.photogoround.wallpaper.prod</string>
    </array>
    <key>com.apple.security.temporary-exception.files.home-relative-path.read-only</key>
    <array>
        <string>/Library/Preferences/com.sydpolk.photogoround.dev.plist</string>
        <string>/Library/Preferences/com.sydpolk.photogoround.plist</string>
        <string>/Library/Preferences/com.sydpolk.photogoround.wallpaper.dev.plist</string>
        <string>/Library/Preferences/com.sydpolk.photogoround.wallpaper.prod.plist</string>
    </array>
</dict>
</plist>
